{% extends 'base.html' %}

{% block title %}Requisições Separadas{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="h5 mb-0">Requisições Separadas</h2>
        </div>
        <div class="card-body">
            {% if requisicoes %}
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Data da Requisição</th>
                                <th scope="col">Data de Retirada</th>
                                <th scope="col">Solicitante</th>
                                <th scope="col">Departamento</th>
                                <th scope="col" class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for requisicao in requisicoes %}
                                <tr>
                                    <td>{{ requisicao.id }}</td>
                                    <td>{{ requisicao.data }}</td>
                                    <td>{{ requisicao.data_retirada }}</td>
                                    <td>{{ requisicao.nome }}</td>
                                    <td>{{ requisicao.departamento }}</td>
                                    <td class="text-center">
                                        <a href="{{ url_for('separados_detalhes', requisicao_id=requisicao.id) }}" class="btn btn-info btn-sm">Visualizar Requisição</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="text-center">Nenhuma requisição separada no momento.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}